@model FinalTest.Models.User
@{
    Layout = null;
    /*Created or Uptaded by Roxane Seibel / student number : 74527*/
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Bank Part</title>
    <style>
        a {
            color: black;
        }

            a:hover {
                color: darkslategrey;
            }

        body {
            background-color: cadetblue;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        table {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 1px solid #000;
            border-radius: 8px;
            padding: 20px 20px;
            background-color: #008080;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .top {
            background-color: #008080;
        }

        .un {
            background-color: cadetblue;
            border: 1px solid #000;
            border-radius: 2px;
        }

        .deux {
            background-color: white;
            border: 1px solid #000;
            border-radius: 2px;
        }
        .field-validation-error {
            color: red;
        }

    </style>
</head>
<body>

    <h2>Are you sure you want to delete this?</h2>
    <div>
        <h2>Delete</h2>
        <hr />
        <table>
            <tr>
            </tr>
            <tr>
                <td class="un">
                    @Html.DisplayNameFor(model => model.AccountNumber) :
                </td>
                <td>
                </td>
                <td class="deux">
                    @Html.DisplayFor(model => model.AccountNumber)
                </td>
            </tr>
            <tr>
                <td class="un">
                    @Html.DisplayNameFor(model => model.Name) :
                </td>
                <td>
                </td>
                <td class="deux">
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td class="un">
                    @Html.DisplayNameFor(model => model.LastName) :
                </td>
                <td>
                </td>
                <td class="deux">
                    @Html.DisplayFor(model => model.LastName)
                </td>
            </tr>
            <tr>
                <td class="un">
                    @Html.DisplayNameFor(model => model.Balance) :
                </td>
                <td>
                </td>
                <td class="deux">
                    @Html.DisplayFor(model => model.Balance)
                </td>
            </tr>
            <tr>
                <td class="un">
                    @Html.DisplayNameFor(model => model.AccountType) :
                </td>
                <td>
                </td>
                <td class="deux">
                    @Html.DisplayFor(model => model.AccountType)
                </td>
            </tr>
            <tr>
                <td class="un">
                    @Html.DisplayNameFor(model => model.Email) :
                </td>
                <td>
                </td>
                <td class="deux">
                    @Html.DisplayFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <td class="un">
                    @Html.DisplayNameFor(model => model.Passeword) :
                </td>
                <td>
                </td>
                <td class="deux">
                    @Html.DisplayFor(model => model.Passeword)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="field-validation-error">@Html.DisplayFor(model => Model.LoginErrorMessage)</label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                    <td>
                        <input background-color=#008080 type="submit" value="Delete" class="btn btn-default" />
                    </td>
                    <td></td>
                    <td>
                        <div align="right">
                            <a href=@Url.Action("Back","Home")>Go Back</a>
                        </div>

                    </td>


</div>
                }
            </tr>
        </table>

        
    </div>
</body>
</html>