@model IEnumerable<FinalTest.Models.User>
@{
    Layout = null;
    /*Created or Uptaded by Roxane Seibel / student number : 74527*/
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Bank Part</title>
    <style>
        a {
            color: black;
        }

            a:hover {
                color: darkslategrey;
            }

        body {
            background-color: cadetblue;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        table {
            border-collapse: collapse;
            font-size: 18px;
            width: 100%;
            overflow: scroll;
            margin-bottom: 56px;
            border: solid 1px #888;
            background-color: white;
            
        }

        .top{
            background-color: #008080;
        }

        tr {
            border: solid 1px #888;
        }
        th {
            border: solid 1px #888;
        }

        td {
            border: solid 1px #888;
        }


        
    </style>
</head>
<body>

    <h2>Bank Part</h2>

    <p>
        @Html.ActionLink("Create New", "Index")
    </p>
    <table class="table">
        <tr class="top">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passeword)
            </th>

            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Passeword)
                </td>



                @if (item.Name == "Bank")
                {
                    <td></td>
                    <td> @Html.ActionLink("Details", "Details", new { id = item.Id }) </td>
                    <td></td>
                }
                @if (item.Name != "Bank")
                {
                    <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id }) </td>
                    <td> @Html.ActionLink("Details", "Details", new { id = item.Id }) </td>
                    <td> @Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
                    <td> @Html.ActionLink("Transaction", "Transaction", new { id = item.Id })</td>
                }




            </tr>
        }

    </table>

    <p>
        <a href=@Url.Action("LogOut","Bank")>Log Out</a>
    </p>
</body>
</html>